doctype 5
html
  head
    title= title
    link(href="//netdna.bootstrapcdn.com/bootswatch/2.3.0/journal/bootstrap.min.css", rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Maven+Pro', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Give+You+Glory', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content