extends layout

block content
	div(id="greeter-content")
		div.container
			h1(id="site-title") The Decision Room 
			h4 Ever have trouble reconciling everyone's plans for the night? Not anymore! Just grab your friends, throw them in a Decision Room, and go do epic shit!
			form(name="fb-login", action="/login", method="post")
				button.btn(type="submit", id="login-submit")
					i.icon-user
					h4 Login with Facebook 